body {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}


.bio, .enter-text, .photo-text {
    font-family: 'Caveat', cursive;
}

h1 {
    font-weight: bold;
    padding: 0 15px;
}

h2 {
    font-weight: bolder;
}

p, li {
    font-size: 2rem;
    font-weight: lighter;
}

#bio {
    font-size: 3rem;
}

#banner {
    width: 100%;
}

.profile, .bio, .project, .education, .working, .photo {
    position: relative;
    top: -5vh;
}

#profile {
    width: 60%;
    border: 10px solid #fff;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-icon-div {
    text-align: center;
    line-height: 25vh;
}

.profile-icon {
    margin: -25px 5px 0px 5px;
    font-size: 3em;
    color: #333;
}

.home-made-icon {
    border-radius: 3px;
}

.profile-icon:hover {
    cursor: pointer;
}

.bio {
    margin: 0 50px;
    margin-bottom: 50px;
}

.project, .education, .working {
    margin: 0 20px;
    margin-bottom: 50px;
}

.project-image, .education-image, .working-image {
    width: 60%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-image:hover {
    transform: scale(1.1, 1.1);
    opacity: 0.5;
}

.fa-html5 {
    font-size: 2em;
    color: #e34f26;
}

.fa-css3-alt {
    font-size: 2em;
    color: #0096d6;
}

.fa-js-square {
    font-size: 2em;
    color: #f7df1e;
}

.fa-node-js {
    font-size: 2em;
    color: #6cc24a;
}

.fa-react {
    font-size: 2em;
    color: #00d8ff;
}

.tool-icon {
    margin: 0 5px;
}

.project-intro {
    margin: 10px 0;
}

.education h3 {
    text-align: center;
    font-weight: lighter;
}

.photo-text {
    text-align: center;
}
.carousel-inner img {
    /* -webkit-filter: grayscale(90%);
    filter: grayscale(90%);*/ /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}


.carousel-caption {
    color: #fff !important;
}

footer {
    background-color: #0f4c81;
    color: #fff;
    padding: 60px 0 40px 0;
}
  
footer a {
    color: #fff;
}
  
footer a:hover {
    color: #333;
    text-decoration: none;
}

.profile-icon-footer {
    color: #fff;
    margin: -25px 5px 0px 5px;
    font-size: 3em;
}

.profile-icon-footer:hover {
    cursor: pointer;
}

.title {
    position: relative;
    display: inline-block;
}
  
.title .titleText {
    visibility: hidden;
    line-height: 2rem;
    height: 3rem;
    width: 140px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 70%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.title .titleText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}
  
.title:hover .titleText {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 767.98px) {

    .blank {
        display: none;
    }

    h1 {
        text-align: center;
    }

    .project-preview {
        margin: 50px 0;
    }
    
}